<section style="background-color: #eee;">
    <div class="container py-5 ml-auto my-4">
        <input type="text" class="form-control" placeholder="Enter  username">
        <button class="btn btn-secondary form-control mt-2" type="button">Buy</button>
    </div>
</section>
<section style="background-color: #eee;">
    <div class="container py-5 ml-auto my-4">

        <span class="input-group-text mb-2">Select your Category</span>
        <select class="form-control">
      <option>1</option>
      <option>2</option>
    </select>

    </div>
</section>
<section style="background-color: #eee;">
    <div class="container py-5 ml-auto my-4">
        <span class="input-group-text mb-2">Select your Product</span>
        <select class="form-control">
      <option>1</option>
      <option>2</option>
    </select>
    </div>
</section>